@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>to the Dojo Activity Center</h3>
</div>

<br>

<div class="row" style="width: 75%; margin: auto;">
    <div class="col-sm-6">
        <partial name="_Register.cshtml"/>
    </div>

    <div class="col-sm-6">
        <partial name="_Login.cshtml"/>
    </div>
</div>
